.menu a {
  position: relative;
  text-decoration: none;
  overflow: hidden;

}


.slick-dots {
  bottom: 20px; /* Ajusta según sea necesario para la distancia desde el borde inferior */
  left: 50%; /* Centra horizontalmente en relación al contenedor */
  transform: translateX(-50%); /* Ajusta la posición para que esté centrado */
  color:#333;
  
}


/* Estilo del punto inactivo */
.slick-dots li button {
  color:#333;
  border-radius: 50%; /* Forma circular */
  width: 12px; /* Tamaño del punto */
  height: 12px; /* Tamaño del punto */
  border: 2px solid rgba(0, 0, 0, 0.2); /* Borde sutil */
  transition: all 0.3s ease; /* Transición suave */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

/* Estilo del punto activo */
.slick-dots li.slick-active button {
  color: #333;
  border: 1px solid #333; /* Borde del punto activo */
height: 19.1px;
width: 20.1px;
  
}

.menuHover:hover {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white;

}

.text-project h2 {
  writing-mode: vertical-lr;
  text-orientation: sideways;
  transform: rotate(180deg);
}