.menu a {
  position: relative;
  text-decoration: none;
  overflow: hidden;

}


.slick-dots {
  bottom: 20px; /* Ajusta según sea necesario para la distancia desde el borde inferior */
  left: 50%; /* Centra horizontalmente en relación al contenedor */
  transform: translateX(-50%); /* Ajusta la posición para que esté centrado */
  color:#333;
  
}


/* Estilo del punto inactivo */
.slick-dots li button {
  color:#333;
  border-radius: 50%; /* Forma circular */
  width: 12px; /* Tamaño del punto */
  height: 12px; /* Tamaño del punto */
  border: 2px solid rgba(0, 0, 0, 0.2); /* Borde sutil */
  transition: all 0.3s ease; /* Transición suave */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

/* Estilo del punto activo */
.slick-dots li.slick-active button {
  color: #333;
  border: 1px solid #333; /* Borde del punto activo */
height: 19.1px;
width: 20.1px;
  
}

.menuHover:hover {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white;

}

.text-project h2 {
  writing-mode: vertical-lr;
  text-orientation: sideways;
  transform: rotate(180deg);
}


.carousel .slide img {
  width: 100%;
  height: auto; /* Mantiene la proporción de la imagen */
}

.carousel .carousel-control {
  display: none; /* Oculta los controles para una vista más limpia en móviles */
}

/* Asegúrate de que el carrusel se ajuste al contenedor */
.carousel .carousel .carousel-slider {
  width: 100%;
}

@media (max-width: 768px) {
  .blog-post {
    padding: 1rem;
    font-size: 14px;
  }

  .blog-post h2 {
    font-size: 1.5rem;
  }

  .blog-post p {
    font-size: 1rem;
  }

  /* Ajusta el carrusel para móviles */
  .carousel .slide img {
    max-height: 300px; /* Limita la altura máxima de las imágenes en móviles */
  }
}

.imgBottom {
  
   
  mask-image:linear-gradient(
    black 80%, transparent 96%
  )
}