@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    display: flex;
    flex-direction: column;
    
}

@media (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: auto;
    }
    
}

html{

    scroll-behavior: smooth;
}

.gbBackground {
   
    color: transparent;
    font-size: 18vw;
    position: absolute;
    -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: rgb(0, 0, 0,0.6);
   z-index: 20;
   position: fixed;
   
   overflow:hidden;
  
 
  

  }



  @keyframes slideIn {
    0% {
      opacity: 0.5;
      transform: translateX(-100%);
    }
    50% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slideInBg {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    50% {
      opacity: 0.1;
      transform: translateX(0);
    }
    100% {
      opacity: 0.2;
      transform: translateX(0);
    }
  }
  
  @keyframes slideInFromRight {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .animate-slide-in-left {
    animation: slideIn 5s forwards;
  }

  .animate-slide-in-left-Bg {
    animation: slideInBg 3s forwards;
  }
  
  .animate-slide-in-right {
    animation: slideInFromRight 3s forwards;
  }

 @keyframes borderLoading {
    0% {
      border-image-source: linear-gradient(to right, transparent, transparent);
      border-image-slice: 2;
    }
    50% {
      border-image-source: linear-gradient(to right, #84cc16, transparent);
      border-image-slice: 2;
    }
    100% {
      border-image-source: linear-gradient(to right, #84cc16, #84cc16);
      border-image-slice: 2;
    }
  }

  .border-animate {
    border-style: solid;
    border-width: 2px;
    border-image-source: linear-gradient(to right, transparent, transparent);
    border-image-slice: 1;
    animation: borderLoading 2s forwards;
  }

  .group-hover .border-animate {
    animation: borderLoading 2s forwards;
  }

  /* Class to reset animation */
  .reset-animation {
    animation: none;
  }

  .collage-item {
    position: absolute;
    width: 25%;
    height: 25%;
    overflow: hidden;
  }

  /* Animation for images */
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* Applying animation with delay */
  .animate-slide-in:nth-child(1) {
    animation: slideIn 1s ease-out forwards;
    animation-delay: 0.2s;
  }
  .animate-slide-in:nth-child(2) {
    animation: slideIn 1s ease-out forwards;
    animation-delay: 0.4s;
  }
  .animate-slide-in:nth-child(3) {
    animation: slideIn 1s ease-out forwards;
    animation-delay: 0.6s;
  }
  .animate-slide-in:nth-child(4) {
    animation: slideIn 1s ease-out forwards;
    animation-delay: 0.8s;
  }